*
!.gitignore
!/home/willie/shared/nvim-config/lua/plugins/fcitx.lua
!/home/willie/shared/nvim-config/lua/plugins/flash.lua
!/home/willie/shared/nvim-config/lua/plugins/gitsigns.lua
!/home/willie/shared/nvim-config/lua/plugins/grug-far.lua
!/home/willie/shared/nvim-config/lua/plugins/jupytext.lua
!/home/willie/shared/nvim-config/lua/plugins/masonn.lua
!/home/willie/shared/nvim-config/lua/plugins/mini.ai.lua
!/home/willie/shared/nvim-config/lua/plugins/mini.pairs.lua
!/home/willie/shared/nvim-config/lua/plugins/nvim-lspconfig.lua
!/home/willie/shared/nvim-config/lua/plugins/nvim-treesitter.lua
!/home/willie/shared/nvim-config/lua/plugins/termux-clipboard.lua
!/home/willie/shared/nvim-config/lua/plugins/todo-comments.lua
!/home/willie/shared/nvim-config/lua/plugins/tokyonight.lua
!/home/willie/shared/nvim-config/lua/plugins/trouble.lua
!/home/willie/shared/nvim-config/lua/plugins/ts-comments.lua
!/home/willie/shared/nvim-config/lua/plugins/which-key.lua
