*
!.gitignore
!blink.cmp.lua
!bufferline.nvim.lua
!bullets.vim.lua
!catppuccin-nvim.lua
!fcitx.vim.lua
!friendly-snippets.lua
!fzf-lua.lua
!gitsigns.nvim.lua
!grug-far.nvim.lua
!indent-blankline.nvim.lua
!jupytext.nvim.lua
!lualine.nvim.lua
!mini.ai.lua
!mini.icons.lua
!mini.surround.lua
!nvim-autopairs.lua
!nvim-lspconfig.lua
!nvim-treesitter-textobjects.lua
!nvim-treesitter.lua
!nvim-ts-autotag.lua
!nvim-ts-context-commentstring.lua
!persistence.nvim.lua
!render-markdown.nvim.lua
!termux-clipboard.lua
!todo-comments.nvim.lua
!trouble.nvim.lua
!vim-suda.lua
!which-key.nvim.lua
!yazi.nvim.lua
